<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Instrucciones para blanquear contrase침a</h1>
		<p>
			Se ha solicitado un pedido para blanquear su contrase침a.<br />
			Si Ud. no lo hizo, simplemente ignore este mail.<br />
			Si Ud. lo solicit칩, por favor siga el siguinte link.<br />
		</p>
		<p>
			<%= link_to "Blanquear contrase침a en Konta3.com", @url %>
		</p>
	</body>
</html>
