/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/****************************************************/
/*                     GLOBALES !!!                 */
/****************************************************/

input:focus { 
	/*background-color: #CCCCFF;*/
}

/****************************************************/
/*                     BANNER !!!                   */
/****************************************************/

#banner {
	float: left;
	margin-top: -8px;
	margin-left: -8px;
	width: 100%;
	min-width: 600px;
	height: 52px;

	/*border: 1px solid green;*/
	background: #6273CF;
	overflow: hidden;

	color: #CCCCFF;

	font-family: arial;
	font-size: 8px;
	text-decoration: none;
}

#banner input {
	font-size: 8px;
	border: 0px solid gray;
}

#banner th {
	text-align: left;
}

#banner a {
	color: #CCCCFF;
	text-decoration: none;
}

#banner a:hover {
	background: #7483cf;
	color: white;
}

/****************************************************/
/*                      LOGO !!!                   */
/****************************************************/

#logo {
	float: left;
	width: 59%;
	height: 45px;
	padding: 10px 0 0 5px; 

	/*border: 1px solid black;*/
}

#logo .titulo {
	margin: 0 0 0 23%;
	padding: 1px 5px 1px 5px; 
	
	font-size: 30px;
	font-weight: bold;
}

/****************************************************/
/*                     LOGIN !!!                    */
/****************************************************/

#login {
	float: left;
	width: 37%;
	height: 45px;
	padding-top: 5px; 

	/*border: 1px solid black;*/
}

#login img {
	vertical-align: middle;
    margin: 5px;
    margin-right: 5px;
    border: 1px solid #CCCCFF;
}

#login .login_nombre {
	padding: 11px;
}

/****************************************************/
/*                     MARCO !!!                    */
/****************************************************/
#marco {
	margin-left: -8px;
	margin-top: -1px;
	float: left;
	width: 100%;
	min-width: 600px;

	/*border: 1px solid red;*/
	overflow: hidden;
}

#marco a {
	display: block;
	
	color: black;
	
	font-family: arial;
	font-size: 11px;
	text-decoration: none;
}

#marco a:hover {
	background: #CCCCFF;
}

#marco .titulo {
	padding: 5px;
	
	color: #0066cc;
	
	font-weight: bold;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

#marco th {
	background: #ccccff;
	padding: 5px;
	color: #666666;
	text-align: left;
	font-family: tahoma, verdana, sans-serif, courier;
}

#marco td {
	border: 1px solid #CCCCCC;
}

#marco td input {
	border: 1px solid #CCCCCC;
}

/****************************************************/
/*                     MENU !!!                     */
/****************************************************/

#menu {
	float: left;
	width: 14%;
	/*min-height: 380px;*/

	/*padding: 5px;
	padding-top: 53px;
	padding-left: 15px;*/

	/*border: 1px solid black;*/
	
	/*color: black;
	
	font-family: arial;
	font-size: 11px;
	text-decoration: none;*/
}

/****************************************************/
/*                      MAIN !!!                    */
/****************************************************/

#main {
	float: left;
	width: 82%;
	/*min-width: 500px;*/
	/*height: 380px;*/
	/*min-height: 350px;*/
	padding-left: 10px;

	/*border: 1px solid black;*/
	border: 1px solid #6273CF;
	
	overflow: hidden;
	color: black;
	
	font-family: arial;
	font-size: 10px;
}

#main h1 {
	color: #0066cc;
}

#main input, select {
	font-size: 9px;
}

#main a {
	text-decoration: none;
	color: #000033;
	font-weight: bold;
}

#main a:hover {
	background: #ccccff;
}

/****************************************************/
/*           flash-notice && flash-error            */
/****************************************************/

#flash-notice, #flash-error {
	float: left;
	width: auto;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 5px 10px;
	
	font-size: 12px;
	font-weight: bold;
}

#flash-notice {
	background-color: #FFFF88;
	color: #666666;
}

#flash-error {
	background-color: #FF1A00;
	color: #f4f4f4;
}

/****************************************************/
/*              S C A F F O L D  ! ! !              */
/****************************************************/

.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}

#errorExplanation {
	width: auto;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-right: 30px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

/****************************************************/
/*                      PIE !!!                     */
/****************************************************/

#pie {
	margin-left: -8px;
	float: left;
	width: 100%;
	min-width: 600px;
	height: auto;

	/*border: 3px solid #6666cc;*/
	/*border: 1px solid black;*/
	
	/*background: -webkit-gradient(linear, 0% 0%, 0% 150%, from(white), to(black));*/
	
	font-family: tahoma, verdana, sans-serif;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
}
